.client{
    .clientMain{
        position: absolute;
        bottom: 0;

        .sliderT{
              width: 1080px;
              padding: 25px 20px 20px 20px;
              box-shadow: 1px 1.332px 4px 2px #7c7c7c4d;
              border-radius: 5px;
              display: flex; 
              background-color: #fff;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              -ms-border-radius: 5px;
              -o-border-radius: 5px;
              .slidItem{
                     width: 10%;
                     text-align: center;
                     img{
                         width: 100px;
                     }
              }
          }
    }
}